*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --one-width: 100vh;
}

#header {
    position: relative;
    display: flex;
    background-color: black;
    height: 30px;
    flex-direction: row-reverse;
}
#box{
    position: relative;
    display: flex;
    width: 600px;
    justify-content: space-around;
    /* border: 1px solid white;  */
    right: 36px;
}
.box_item{
    position: relative;
    color: white;
    height: 30px;
    top: -5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.box_item_txt{
    color: white;
    text-decoration: none;
}

.box_item_txt:hover{
    color: red;
}
.box_icon{
    position: relative;
    top: 7px;
    left: -2px;
}

#menu{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    position: relative;
    margin-left: 155px; 
    width: 50px;
    margin-top: 15px;
}
.luachon{
    position: relative;
    display: flex;
    /* margin-left: 175px; */
    font-size: 22px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}
.select{
    position: relative;
    display: flex;
    height: 30px;
    padding-right: 26px;
    margin-top: 60px;
    border-right: 2px solid lightgrey;
    margin-right: 15px;

}

.select_con{
    color: black;
    text-decoration: none;
}

.select > .select_con:hover{
    color: orangered
}

.tab_sanpham{
    position: absolute;
    display: none;
    z-index: 1000;
    top: 100%;
    background-color: #3d3c3c;
    margin-top: 28px;
    height: 590px;
    width: 3000px;
    float: left;
    left: 0;
}
.tab4{
    position: relative;
    display: flex;
    width: 2180;
    border: 1px solid white;
}

.tab_cho{
    border: 1px solid white;
    position: relative;
}

.img_tab4{
    height: 325px;
    width: 325px;
}

.text_tab4{
    color: white;
    text-align: center;
}

.textpr {
    color: white;
}

.discover{
    position: relative;
}

.discover_img{
    position: relative;
    margin-top: 40px;
}

.timkiem{
    position: relative;
    border: 1px solid lightgrey;
    display: flex;
    margin-top: 45px;
    height: 40px;
    width: 300px;
    margin-right: 36px;
}

.timkiem:hover {
    box-shadow: 0 0 10px rgba(0, 206, 247, 0.5);
}

.search{
    position: relative;
    margin-top: 10px;
    margin-right: 35px;
}

.search > input{
    border: none;
    outline: none;
}
.search_icon{
    width: 30px;
    margin-top: 5px;
    margin-left: 8px;
}
#text_animation{
    height: 50px;
    background-color: rgb(250, 247, 247);
    position: relative;
    display: flex;
} 
.class_text_animation{
    position: relative;
    display: flex;
    width: 800px;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    list-style-type: none;
}

.class_text_animation > .txt{
    color: black;
    text-decoration: none;
}

.class_text_animation > .txt:hover{
    cursor: pointer;
}

#banner{
    display: block;
    vertical-align: middle;
    /* height: 1050px;
    width: 1920px; */
    /* background-image: url("/Images/LowHigh_Desktop-1920x1050.jpg"); */

}

.banner_img{
    display: block;
    width: 100vw;
    max-width: 1920px;
    object-fit: cover;
    margin: auto;

}

.orage_contact{
    position: fixed;
    display: block;
    color: white;
    background-color: orangered;
    right: 0;
    top: 230px;
    width: 40px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.black_contact{
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #666;
    right: 0;
    top: 330px;
    width: 40px;
    height: 100px;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}

.after_ananas{
    position: relative;
    display: flex;
    margin: auto;
    margin-top: 80px;
    width: 1240px;
}
.img_1{
    position: relative;

}
.img_2{
    position: relative;
    margin-left: 40px;
}

.img_saleoff{
    height: 320px;
    width: 600px;
}

.the_a{
    color: black;
    text-decoration: none;
}

.the_a:hover .bottom_banner{
    color: orangered;
}

.bottom_banner{
    margin-bottom: 20px;
}
.font_size{
    margin-top: 37px;
    font-size: 16px;
}

#danh_muc{
    margin-top: 100px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
#product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    margin-bottom: 120px;
}

.name_catalogy_textoption{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.name_catalogy_textoption:hover{
    color: orangered;
}

.space{
    height: 40px;
}

.catalogy_1{
    height: 280px;
    width: 400px;
    border: 1px solid black;
    background: url('/Images/catalogy-1.jpg') center;
}
.catalogy_2{
    height: 280px;
    width: 400px;
    border: 1px solid black;
    background: url('/Images/catalogy-2.jpg') center;
}
.catalogy_3{
    height: 280px;
    width: 400px;
    border: 1px solid black;
    background: url('/Images/catalogy-3.jpg') center;
}

.catalogy_blur{
    position: absolute;
    height: 280px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.3);
}

.catalogy_option{
    position: absolute;
    color: white;
    text-align: center;
    display: block;
    margin-top: 10%;
    height: 252px;
    width: 100%;
    font-size: 18px;
}

.catalogy_textoption{
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.catalogy_textoption:hover{
    color: orangered;
}

#font_big_img{
    position: relative;
    display: block;
}

.big_img{
   position: relative;
   display: block;
   margin: auto;
   max-height: 768px;
   z-index: -1;
}


#main_insta{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 85px;
    font-size: 26px;
    width: 840px;
}

#block_4piture{
    width: 1200px;
    margin: auto;
    display: grid;
    justify-content: end;
    position: relative;
}

.piture_and_text{
    position: relative;
    display: flex;
    width: 620px;
    justify-content: space-between;
    margin-bottom: 35px;
}
.bl{
    position: relative;
    width: 300px;

}

.pi{
    position: relative;
    max-width: 300PX;
}

.them:hover {
    cursor: pointer;
}

#skip{
    width: 190px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin: auto;
    color: white;
    background-color: black;
}

#skip:hover {
    cursor: pointer;
}

.font_h2{
    color: white;
    text-decoration: none;
}

#footer{
    background-color: #4c4c4c;
    position: relative;
    margin-top: 80px;
    height: 523px;
    z-index: -1;
}

.footer_content{
    position: absolute;
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.footer_img{
    position: relative;
    display: grid;
    width: 25%;
    justify-content: center;
}
.img_store{
    float: right;
    width: 280px;
    height: 206px;
}
.search_shop{
    width: 280px;
    height: 40px;
    background-color: orangered;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-top: 24px;
    float: right;
    position: relative;
}

.right_footer{
    position: relative;
    display: inline-block;
    width: 75%;
}

.footer_1{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-around;
}

.ft_item{
    color: rgb(168, 168, 168);
    text-decoration: none;
    padding-top: 5px;
    padding-left: 5px;
    width: 25%;
    float: left;
}

.ft_item > ul > li{
    list-style-type: none;
    padding-bottom: 15px;
}

.ft_item_title{
    font-size: 22px;
    margin-bottom: 20px;
    color: white;
}

.footer_social{
    position: relative;
    display: flex;
}

.social{
    position: relative;
    width: 25%;
}

.txt_social{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin-top: 10px;
}

.logo_social{
    padding-left: 10px;
    padding-top: 20px;
}

.inputemail{
    width: 25%;
}

.txt_inputemail{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 20px;
}

#email_box{
    height: 40px;
    width: 170px;
}

.final_footer{
    position: relative;
    display: flex;
}

.logo_bocongthuong{
    width: 25%;
}

.final_text_footer{
    width: 75%;
}

.copyright{
    line-height: 75px;
    color: gray;
    font-size: 20px;
}

.img_Clearance{
    position: relative;
    display: block;
    max-width: 1200px;
    height: 300px;
    margin: auto;
}

.product {
    width: 1200px;
    position: relative;
    display: block;
    margin: auto;
}

.three_pircture_1{
    position: relative;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}
.img_picture_first{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_A61102_1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_first{
    background: url('/Images/urbas.jpg') center /cover no-repeat;
}

.img_picture_second{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_urbas_A61051_1-1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_second{
    background: url('/Images/urbas\ the\ gang.jpg') center /cover no-repeat;
}

.img_picture_three{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_urbas_A61052_1-1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_three{
    background: url('/Images/urbas\ the\ gang_2.jpg') center /cover no-repeat;
}

.pt1{
    position: relative;
    width: 385px;
    height: 545px;
    display: block;
}
.font{
    position: absolute;
    font-size: 16px;
    background-color: #3d3c3c;
    color: white;
    height: 30px;
    width: 175px;
    text-align: center;
    z-index: 1;
    top: 40px;
    line-height: 30px;
}
.soldout-text{
    color: white;
    z-index: 1;
    font-size: 20px;
}
.black_rect{
    height: 385px;
    width: 385px;
    background-color:rgb(0, 0, 0);
    opacity: 0.5;
    position: absolute;
    top: 0;
}

.JS_heart{
    border: 1px solid black;
    z-index: 80;
    border: none;
    width: 35px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 18px;
}

.capt{
    text-align:  center;
    margin-top: 10px;
    height: 100px;
}
.font_2{
   position: relative;
    text-align: center;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
.font_small{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line{
    color: #afafaf;
    margin-top: 5px;
}
.price{
    font-size: 18px;
    margin-top: 10px;
}

.Urbas_h5 {
    font-size: 18px;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.Urbas_h5:hover {
    color: orange;
}
.price_real{
    font-size: 12px;
    text-decoration: line-through;
    color: #808080;
    margin-left: 10px;
}
.img_picture_4{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/stu_basas_A61013_1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_4{
    background: url('/Images/allblack.jpg') center /cover no-repeat;
}

.img_picture_5{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_urbas_A61050_1-1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_5{
    background: url('/Images/Hauteblack.jpg') center /cover no-repeat;
}

.img_picture_6{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/Vinblack1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_6{
    background: url('/Images/Vinblack.jpg') center /cover no-repeat;
}

.img_picture_7{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/Pro_AV00070_1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_7{
    background: url('/Images/pro_AV00070_6.jpg') center /cover no-repeat;
}

.img_picture_8{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/Pro_AV00076_1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_8{
    background: url('/Images/pro_AV00076_6-1.jpg') center /cover no-repeat;
}

.img_picture_9{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_A61104_1.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_9{
    background: url('/Images/pro_A61104_2.jpg') center /cover no-repeat;
}

.img_picture_10{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_10.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_10{
    background: url('/Images/pro_10_1.jpg') center /cover no-repeat;
}

.img_picture_11{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_11.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_11{
    background: url('/Images/pro_11_1.jpg') center /cover no-repeat;
}

.img_picture_12{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_12.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_12{
    background: url('/Images/pro_12_1.jpg') center /cover no-repeat;
}

.img_picture_13{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_13.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_13{
    background: url('/Images/pro_13_1.jpg') center /cover no-repeat;
}

.img_picture_14{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_14.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_14{
    background: url('/Images/pro_14_1.jpg') center /cover no-repeat;
}

.img_picture_15{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_15.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_15{
    background: url('/Images/pro_15_1.jpg') center /cover no-repeat;
}

.img_picture_16{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_16.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_16{
    background: url('/Images/pro_16_1.jpg') center /cover no-repeat;
}

.img_picture_17{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_17.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_17{
    background: url('/Images/pro_17_1.jpg') center /cover no-repeat;
}

.img_picture_18{
    width: 385px;
    height: 385px;
    position: relative;
    background: url('/Images/pro_18.jpg') center /cover no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pt1:hover .img_picture_18{
    background: url('/Images/pro_18_1.jpg') center /cover no-repeat;
}

/* discoverYOU */

.new_discoveryou{
    position: relative;
    width: 100%;
    height: 160px;
    display: flex;
}
.new_discoveryou_banner{
    position: relative;
    height: 82px;
    width: 178px;
    margin: auto;
}

.bannerdiscoveryouanddescribe{
    position: relative;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    height: 520px;
    max-width: 1920px;
    overflow: hidden;
    justify-content: center;
    margin: auto;
}

.banner_discoveryou{
    height: 79vh;
    /* max-width: 66.666666%; */
    width: 68vw;
    object-fit: cover;

}

.describe{
    background-color: #f1f2f2;
    height: 100%;
    padding: 30px 60px 30px 30px;
    width: 33.33333333%;
    z-index: 100;
    float: left;
}

.urbas{
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
}

.stkc{
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}
.urbas_text{
    font-size: 16px;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 0px;
}

.urbas_text2{
    font-size: 16px;
    color: #808080;
}
.docthem {
    color: orangered;
    text-decoration: none;
}

.afterbanner_discoveryou{
    width: 1200px;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 40px;
}

.discoveryou_row1{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block1{
    position: relative;
    display: inline-block;
    width: 580px;
    height: 505px;
}

.img_block1{
    width: 580px;
}

.text_block1{
    height: 185px;
}

.text_block1_1{
    font-size: 23px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.text_block1_2{
    font-size: 16px;
    color: #000;
    line-height: 1.5em;
    margin-bottom: 0px;
}

.discoveryou_row2{
    position: relative;
    width: 100%;
    margin-top: 65px;
}