*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#header {
    position: relative;
    display: flex;
    background-color: black;
    height: 30px;
    flex-direction: row-reverse;
}
#box{
    position: relative;
    display: flex;
    width: 600px;
    justify-content: space-around;
    /* border: 1px solid white;  */
    right: 36px;
}
.box_item{
    position: relative;
    color: white;
    height: 30px;
    top: -5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.box_item:hover{
    color: red;
}
.box_icon{
    position: relative;
    top: 7px;
    left: -2px;
}

#menu{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-between;
}
.logo{
    position: relative;
    margin-left: 155px; 
    width: 50px;
}
.luachon{
    position: relative;
    display: flex;
    /* margin-left: 175px; */
    font-size: 22px;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}
.select{
    position: relative;
    display: flex;
    height: 30px;
    padding-right: 26px;
    margin-top: 60px;
    border-right: 2px solid lightgrey;
    margin-right: 15px;

}

.select:hover{
    color: orangered
}
.discover{

}

.discover_img{
    position: relative;
    margin-top: 40px;
}

.timkiem{
    position: relative;
    border: 1px solid lightgrey;
    display: flex;
    margin-top: 45px;
    height: 40px;
    width: 300px;
    margin-right: 36px;
}
.search{
    position: relative;
    margin-top: 10px;
    margin-right: 35px;
}

.search > input{
    border: none;
    outline: none;
}
.search_icon{
    width: 30px;
    margin-top: 5px;
    margin-left: 8px;
}
#text_animation{
    height: 50px;
    background-color: rgb(250, 247, 247);
    position: relative;
    display: flex;
} 
.class_text_animation{
    position: relative;
    display: flex;
    width: 800px;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
    justify-content: space-between;
}
#banner{
    display: block;
    vertical-align: middle;
    /* height: 1050px;
    width: 1920px; */
    /* background-image: url("/Images/LowHigh_Desktop-1920x1050.jpg"); */

}

.banner_img{
    display: block;
    width: 100vw;
    max-width: 1920px;
    object-fit: cover;

}

.orage_contact{
    position: fixed;
    display: block;
    color: white;
    background-color: orangered;
    right: 0;
    top: 230px;
    width: 40px;
    height: 80px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.black_contact{
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #555;
    right: 0;
    top: 330px;
    width: 40px;
    height: 100px;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}


.after_ananas{
    display: flex;
    
    justify-content: space-around;
    margin: 0 15%;
    height: 600px;
    align-items: center;
   width: 900px;
  
    
}
.img_1{
  border: 1px solid white;
  
}
.img_2{
    max-width: 100px;
    height: auto;
   
 
}
.outlet_sale{
    width: 300px;
}
.font_size{
    font-size: 18px;
    width: 600px;
}
#danh_muc{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
}
.catalogy_1{
}
.catalogy_2{
    
}
.catalogy_3{
}
 #font_big_img{
    display: flex;
    height: 1200px;
    align-items: center;
 }
.big_img{
    display: flex;
   
}
#main_insta{
    display: flex;
    justify-content: space-around;
    
}
.font_h1{
    font-size: 20px;
}
#four_picture{
    position: absolute;
    display: flex;
    right: 0px;
    width: 700px;
    height: 400px;
    align-items: center;
}
.picture{
    margin-right: 20px; 
   
}
.size_small{
    font-size: 20px;
}
#four_picture_2{
    position: absolute;
    display: flex;
    top : 400px;  
}
#skip{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin-top: 800px;
}
.font_h2{
    border: 4px solid black;
    background-color: black;
    color: white;
    width: 230px;
    height: 30px;
    text-align: center;
    
}
#footer{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 1000px;
    height: 500px;
    background-color: rgb(97, 92, 92);
}
#footer_img{
    margin-top: 70px;
    margin-right: 700px;
}
.img_footer{
}
.search_shop{
    border: 1px solid orangered;
    height: 35px;
    background-color:  rgb(233, 89, 37);
    color: white;
    text-align: center  ;
    font-size: 20px;
}
#footer_1{
    position: relative;
    display: flex;
    justify-content: space-around; 
    width: 600px;
   
     
}

